<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}-Django Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap5/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head%}{% endblock %}
</head>
<body>
    <header class="p-3 text-bg-dark border-bottom mb-3">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <img src="{% static 'image/Pink Neon Talk Show Twitch Logo.png' %}" alt="" height="50px" width="100px">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 text-secondary">首頁</a></li>
              <li><a href="{% url 'blog:pub_blog'%}" class="nav-link px-2 text-white">發表文章</a></li>
              <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
              <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="{% url 'blog:search'%}" method="get">
              <input type="search" name="q" class="form-control form-control-dark text-black" placeholder="Search..." aria-label="Search">
            </form>

            {% if user.is_authenticated %}
                  <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="{% static 'image/head.png' %}" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                      <li><a class="dropdown-item" href="{% url 'djauth:logout'%}">登出</a></li>
                      <li><a class="dropdown-item" href="{% url 'blog:avatar_settings' %}">頭像設置</a></li>
                    </ul>
                  </div>
            {% else %}
            <div class="text-end">
              <a href="{% url 'djauth:login' %}"  class="btn btn-outline-light me-2">Login</a>
              <a href="{% url 'djauth:register' %}"  class="btn btn-warning">Sign-up</a>
            </div>
            {% endif %}
          </div>
        </div>
      </header>
<main class="container bg-white p-3 rounded">
    {% block main%}{% endblock %}
</main>
</body>
</html>