{% extends 'base.html'%}

{% block title%}首頁{% endblock %}

{% block main%}
<h1>文章列表</h1>
<div class="row row-cols-2 row-gap-4">
  {% for blog in blogs %}
  <div class="col">
    <div class="card">
      <div class="card-header">
        <a href="{% url 'blog:blog_detail' blog_id=blog.id %}">{{ blog.title }}</a>
      </div>
      <div class="card-body"  style="height: 100px;">
        <p class="card-text">{{ blog.content |striptags|truncatechars:100 }}</p>
      </div>
      <div class="card-footer text-body-secondary d-flex justify-content-between">
        <div>
          <img src="{% static 'image/head.png' %}" class="rounded-circle"width="30" height="30" alt="">
          {{blog.author.username}}
        </div>
        <div>{{ blog.pub_time }}</div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}